body {
background-color: lemonchiffon;
}

header {
font-family:Helvetica;
}

#ham {
 width: 100px;
  float: left;
}
 
#Homepageimage {
 width: 480px; 
 }
   
.verticalnavigation {
 width:50px;
}
.verticalnavigation a {
 font-family:Helvetica;
 text-decoration: none;
 display: block;
}
