body {
background-color: lemonchiffon;
}

header {
font-family:Helvetica;
}

#ham {
 width: 100px;
  float: left;
 
#Homepageimage {
 max-width: 100%; 
 }
   
}
.verticalnavigation {
 width:50px;
}
.verticalnavigation a {
 text-decoration: none;
 display: block;
}
